.cart {
  background-color: #d9ab9a;
  min-height: 100vh;
}

.cart__title {
  text-transform: uppercase;
  font-weight: bolder;
  padding: 3rem;
  text-align: center;
  color: #8c3c2a;
}

.Cart__container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 80%;
  padding-bottom: 10rem;
}

.card__cart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
}

.cart__detail {
  text-align: center;
  align-items: center;

  margin: auto;
  width: 100%;
}

.item__details__button {
  text-decoration: none;
}

.cart__finish {
  padding: 4rem;
  width: 60%;
  border: 1rem solid #f2cdc4;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.cart__empty {
  font-weight: bold;
  padding: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.cart__product {
  margin: 0 auto;
  padding: 0;
}

.total__carrito {
  text-align: center;
  color: #8c3c2a;
  font-weight: bolder;
}

.btn__styleCart {
  width: 13rem;
  margin: 0 auto;
  padding: 0.6rem;
  font-size: 1rem;
  background-color: #4a548c;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 2px solid #75bfbf;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.btn__styleCartDelete {
  width: 9rem;
  margin: 0 auto;
  padding: 0.6rem;
  font-size: 1rem;
  background-color: rgb(168, 2, 2);
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.btn__delete__all {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.btn__styleCartDelete:hover {
  background-color: rgb(255, 0, 0);
  color: black;
}

.btn__styleCart:hover {
  background-color: #75bfbf;
  color: black;
}

.btn__styleCart:disabled {
  background-color: rgb(206, 202, 202);
}

.item__cart {
  margin: auto;
  align-items: center;
  padding: 0 1rem;
  width: 80%;
}

.Cart__card__body {
  width: 20rem;
}
