.card__styles {
  /* border: 1px solid red; */
  height: 40rem;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: wrap; */
  box-shadow: 0 0.8px 0.16px 0 rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}

.card__styles:hover {
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.6);
}

.card__body img {
  width: 60%;
}

.card__body .card__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(102, 30, 210);
}
