* {
  margin: 0;
  padding: 0;
}

.navbar__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: rgb(231, 231, 160);
}

.image__navbar {
  width: 10rem;
}

.list__container {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  list-style-type: none;
}

.category__btn {
  background-color: transparent;
  border: none;
  color: rgb(38, 27, 112);
  font-size: 1.5rem;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
}

.btn__home {
  color: white;
  background-color: rgb(38, 27, 112);
  padding: 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.active {
  color: red;
  padding: 1rem 1.5rem 3rem;
  border-radius: 2rem 2rem 0 0;
  border-radius: 1rem;
  background-color: white;
  -webkit-border-radius: 2rem 2rem 0 0;
  -moz-border-radius: 2rem 2rem 0 0;
  -ms-border-radius: 2rem 2rem 0 0;
  -o-border-radius: 2rem 2rem 0 0;
  text-decoration: underline;
  font-weight: bold;
}
