* {
  margin: 0;
  padding: 0;
}

.navbar__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #4a548c;
  height: 10rem;
}

.image__navbar {
  width: 10rem;
}

.list__container {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 100%;
  list-style-type: none;
}

.category__btn {
  background-color: transparent;
  border: none;
  color: #75bfbf;
  font-size: 1.5rem;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
}

.active {
  color: #d9ab9a;
  font-weight: bold;
  border-radius: 2rem 2rem 0 0;
  border-radius: 1rem;
  -webkit-border-radius: 2rem 2rem 0 0;
  -moz-border-radius: 2rem 2rem 0 0;
  -ms-border-radius: 2rem 2rem 0 0;
  -o-border-radius: 2rem 2rem 0 0;
}

.logo__carrito {
  color: #75bfbf;
  text-decoration: none;
}

.nav__logo {
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .navbar__container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .list__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav__logo {
    margin-bottom: 2rem;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
  }
}
