.modal__checkout {
  background-color: rgba(117, 191, 191, 0.6);
}

.modal__title {
  font-size: 2rem;
  font-weight: bold;
  margin: auto;
  color: #8c3c2a;
}

.modal__body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.modal__orderID {
  color: #4a548c;
  font-size: 1.7rem;
  font-weight: bold;
}

.modal__instructions {
  font-weight: bold;
}

.modal__price {
  color: #8c3c2a;
  font-weight: bold;
}

.modal__thnx {
  color: #8c3c2a;
}
