.card__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
}

.styles__item {
  text-decoration: none;
}

.card__container div {
  flex: 1;
  padding: 1rem;
  text-align: center;
}

.spinner {
  display: flex;
  margin: 10rem auto;
}
