.card__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  height: 100%;
}

.spinner {
  display: flex;
  margin: 10rem auto;
}
