.card__container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  /* background-color: rebeccapurple; */
  margin: 0 auto;
  gap: 1rem;
  list-style: none;
}

.stylesItemsContaier {
  display: none;
}

.styles__item {
  text-decoration: none;
  font-weight: bolder;
  margin-top: 3rem;
}

.item__details {
  display: none;
}

.card__container div {
  flex: 1;
  padding: 1rem;
  text-align: center;
}

.spinner {
  display: flex;
  margin: 10rem auto;
}
